<form action="<%= message_usercomments_path(message) %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <% if !parent.nil? %>
        <input type="hidden" name="usercomment[parent_id]" value="<%= parent.id %>">
    <% end %>
    
    <div>
       <textarea name="usercomment[content]" rows="6" cols="20"></textarea>
    </div>

    <input type="submit" value="Submit">
</form>