

<article>
        <p><%= usercomment.content %></p>
        <small> by <%= usercomment.user.email %></small>

        <a href="#" class="display-comment-form">Reply</a>
        <div class="ddnone">
            <%= render partial: 'usercomments/form', locals: {message: usercomment.message, parent: usercomment} %>
        </div>
        <hr />
        <div class="m-3">
           <%= render usercomment.usercomments %>
        </div>

</article>

<script>
    document.querySelectorAll('.display-comment-form').forEach((element) => {
        element.addEventListener('click', (event) => {
            event.preventDefault();
            element.nextElementSibling.style.display = 'block'
        })
    })
</script>
